{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": 2,
    "indent": ["error", 2],
    "react/prefer-stateless-function": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
